{% extends 'base.html' %}
{% block content %}

<h1>Brewery List</h1>
<h1>Page {{ pnum }}</h1>

<nav class="pagination" role="navigation" aria-label="pagination">
    {% if pnum > 1 %}
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" value="{{ pnum }}" name="previous" class="pagination-previous">Previous Page</button>
    </form>
    {% endif %}
    {% if by_state or by_city or by_postal %}
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" value="{{ pnum }}" name="next" class="pagination-previous">Next Page</button>
    </form>
    {% endif %}
</nav>

{% if by_state %}
{% for brewery in by_state %}
<div class="">
    <div class="">
        <span class="">{{ brewery.name }}</span>
        <p>City: {{brewery.city}}</p>
        <p>Address: {{brewery.street}}</p>
        <p>id: {{ brewery.id }}</p>
        <a href="{% url 'detail' brewery.id %}">Details</a>
    </div>
</div>
{% endfor %}
{% endif %}

{% if by_city %}
{% for brewery in by_city %}
<div class="">
    <div class="">
        <span class="">{{ brewery.name }}</span>
        <p>City: {{brewery.city}}</p>
        <p>Address: {{brewery.street}}</p>
        <p>id: {{ brewery.id }}</p>
        <a href="{% url 'detail' brewery.id %}">Details</a>
    </div>
</div>
{% endfor %}
{% endif %}

{% if by_postal %}
{% for brewery in by_postal %}
<div class="">
    <div class="">
        <span class="">{{ brewery.name }}</span>
        <p>City: {{brewery.city}}</p>
        <p>Address: {{brewery.street}}</p>
        <p>id: {{ brewery.id }}</p>
        <a href="{% url 'detail' brewery.id %}">Details</a>
    </div>
</div>
{% endfor %}
{% endif %}
<nav class="pagination" role="navigation" aria-label="pagination">
    {% if pnum > 1 %}
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" value="{{ pnum }}" name="previous" class="pagination-previous">Previous Page</button>
    </form>
    {% endif %}
    {% if by_state or by_city or by_postal %}
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" value="{{ pnum }}" name="next" class="pagination-previous">Next Page</button>
    </form>
    {% endif %}
</nav>

{% endblock %}