{% extends 'base.html' %}
{% block content %}
<div class="container is-fluid">


    <div class="field">
        <div class="control is-expanded mt-6">
            <label class="label is-large">Login</label>
            <form method="post" action="{% url 'login' %}"">
                {% csrf_token %}
                {{ form.as_p }}
        </div>
        <div class="control">
            <input type="submit" class="button is-info mt-4" value="login">
            <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>

</div>

{% endblock %}