{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Brewsky</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<body>

    <header class="">
        <nav id="mynav" class="navbar is-spaced" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <p class="image is-64x64">
                    <img src="https://i.imgur.com/VthtYEq.png" class="is-rounded">
                </p>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="{% url 'home' %}" class="navbar-item is-size-4 has-text-weight-semibold">
                        Home
                    </a>
                    <a href="{% url 'index' %}" class="navbar-item is-size-4 has-text-weight-semibold">
                        My Breweries
                    </a>
                    
                    
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="navbar-item is-size-4 has-text-weight-semibold">
                        Log Out
                    </a>
                    {% else %}
                    <a href="{% url 'signup' %}" class="navbar-item is-size-4 has-text-weight-semibold">
                        Sign Up
                    </a><a href="{% url 'login' %}" class="navbar-item is-size-4 has-text-weight-semibold">
                        Log In
                    </a>
                    {% endif %}

                </div>
            </div>
        </nav>
        
    </header>
    <main class="">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="">
        <div class="">All Rights Reserved, &copy; 2020 Brewsky &nbsp;</div>
    </footer>
</body>
</html>