{% extends 'base.html' %}
{% block content %}

<div class="container is-fluid">

    <h1 class="is-size-4">Thirsty for a cold brew? Let's find the closest brewery...</h1>

    <label class="label is-large">Search by State</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <form action="{% url 'index' %}">
                <input type="search" name="state" class="input is-large" placeholder="Find a brewery by state.">
        </div>
        <div class="control">
            <input type="submit" value="Search" class="button is-light is-large">
            </form>
        </div>
    </div>

    <label class="label is-large">Search By City</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <form action="{% url 'index' %}">
                <input type="search" name="city" class="input is-large" placeholder="Find a brewery by city.">
        </div>
        <div class="control">
            <input type="submit" value="Search" class="button is-light is-large">
            </form>
        </div>
    </div>

    <label class="label is-large">Search By Zip Code</label>
    <div class="field has-addons">
        <div class="control is-expanded">
            <form action="{% url 'index' %}">
                <input type="search" name="postal" class="input is-large" placeholder="Find a brewery by zip">
        </div>
        <div class="control">
            <input type="submit" value="Search" class="button is-light is-large">
            </form>
        </div>
    </div>

</div>

{% endblock %}