{% extends 'base.html' %}
{% block content %}

<h1>Thirsty for a cold brew? Let's find the closest brewery...</h1>

<h3>Search by State</h3>
<form action="{% url 'index' %}">
    <input type="search" name="state" placeholder="Find a brewery by state">
    <input type="submit" value="Search">
</form>

<h3>Search by City</h3>
<form action="{% url 'index' %}">
    <input type="search" name="city" placeholder="Find a brewery by city">
    <input type="submit" value="Search">
</form>

<h3>Search by Zip Code</h3>
<form action="{% url 'index' %}">
    <input type="search" name="postal" placeholder="Find a brewery by zip">
    <input type="submit" value="Search">
</form>

{% endblock %}